* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: "Calibri";
}

header {
    background: #2d6880;
    width: 100%;
    clear: both;
    display: table;
    text-align: center;
   
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }
  
.c-item {
    height: 480px;
}